.profile {
	height: 100%;
	overflow-y: scroll;
	padding-right: 10px;

	padding-bottom: 50px;
	&__title {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $grey-1;

		&:nth-of-type(2) {
			border-top: 1px solid $grey-1;
			padding-top: 10px;
			border-bottom: 0;
		}

		h2 {
			@extend %content-body;
			font-weight: 600;
		}
		p {
			@extend %content-label;
			margin-top: 5px;
			color: $grey-3;
		}
	}
	
	.form__submit {
		width: 30%;
		margin-left: auto;
		margin-bottom: 20px;

		
	}
	.addQuestion,
	.removeQuestion {
		background-color: $grey-1;
		width: 30px;
		height: 30px;
		border: none;
		border-radius: 50%;
		font-weight: 600;
		@extend %content-body;
		float: right;
	}

	.removeQuestion {
		margin-right: 10px;
	}

	.hidden {
		display: none;
	}
	.form.questions {
		.group {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $grey-1;
			p:nth-of-type(1) {
				margin-bottom: 10px;
			}
		}
	}
}